@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900');
@import 'components/all';

body {
	color: #181818;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-text {
	font-family: 'Work Sans', sans-serif;

	&.title{
		font-weight: bold;
		font-size: 72;
	}

	&.sub{ 
		font-weight: medium;
		font-size: 48;
		padding-bottom: 50px;
	}
}




