.cell-container {
	display: flex;
	flex-direction: column;
}

.cell-track-text {
	text-align: left;
	color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
	font-size: 24;

	&.sub {
		font-weight: 400;
	}
}