.cell-container {
	display: flex;
	border-radius: 15px;
	flex-direction: column;
	background-color: $TUNEUP_COLORS_LIGHT_GREY;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-size: cover;
	justify-content: space-between;
}

.cell-header {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: $TUNEUP_COLORS_BLACK_TRANSPARENT;
	height: 15%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cell-user-image {
	height: 40px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cell-user-text {
	margin-left: 10px;
    color: $TUNEUP_COLORS_LIGHT_GREY;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
	font-size: 14px;
}

.cell-listening-status-text {
	margin-left: 10px;
    font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: $TUNEUP_COLORS_LIGHT_GREY;
	font-size: 12px;
}

.cell-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
}

.cell-track-info-container {
	color: $TUNEUP_COLORS_LIGHT_GREY;
	&:hover {
		color: lightgreen;
	}
}

.cell-track-text {
	color: inherit;
	text-align: left;
	text-shadow: 0px 4px 7px rgba(0,0,0,0.4),
	0px -4px 6px rgba(0,0,0,0.4),
	0px 18px 23px rgba(0,0,0,0.1);
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
	font-size: 18px;
	text-overflow: ellipsis;

	&.sub {
		font-weight: 400;
	}
}

.cell-no-track-text {
	color: $TUNEUP_COLORS_BLACK;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
	font-size: 24px;
}